@using ProyectoTienda.Models;
@{
    ViewBag.Title = "BuscaProd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BuscaProd</h2>
<h3>Productos relacionados a @ViewBag.SearchKey</h3>



<table class="table table-primary table-striped"" >
    <tr>
        <th>Nombre del producto</th>
        <th>Imagen</th>
        <th>Precio</th>
        <th>Comprar</th>

    </tr>
    @foreach (Producto producto in ViewBag.Listado)
    {
        <tr>
            <td>@producto.nombre_producto</td>
            <td><img src="~/Content/Imagenes/Productos/@producto.imagen_producto" width="60" /></td>
            <td>@producto.precio</td>
            <td align="center"><a href="@Url.Action("Agregar","Carrito",new { id=producto.Id_producto})">Comprar</a></td>

        </tr>
    }


</table>

