@{
    ViewBag.Title = "Home Page";
}
<section class="container" style="margin-top:10px">
    <article>
        <h3 style="color:#14135e">
            Inicio
        </h3>
        <hr>
    </article> 
    <div class="card bg-light text-white p-md-1" style="margin-top: 15px;">
        <img src="https://www.infoplc.net/media/k2/items/cache/bcda5a9329b4e9caf9281438f77aef14_XL.jpg"
             class="card-img-top" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
            <a href="#" class="btn btn-light">Compara ahora</a>
        </div>
    </div>




    <article>



    </article>
</section>
