@{
    ViewBag.Title = "Home Page";
}
<section class="container" style="margin-top:10px">
    <article>
        <h3 style="color:#14135e">
            Inicio
        </h3>
        <hr>
    </article>
    <div class="card bg-light text-white p-md-1" style="margin-top: 15px;">
        <img src="https://www.infoplc.net/media/k2/items/cache/bcda5a9329b4e9caf9281438f77aef14_XL.jpg"
             class="card-img-top" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
            <a href="#" class="btn btn-light">Compara ahora</a>
        </div>
    </div>



    <div class="text-center">
        <h3>Nuestras principales categorias</h3>
        <div class="row row-cols-1 row-cols-md-4 ">
            <div class="col mb-4">
                <div class="card h-100">

                    <img src="https://www.pequeocio.com/wp-content/uploads/2018/10/tienda-disfraces-halloween.jpg"
                         class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title text-center">Motores electricos</h5>
                    </div>

                    <div class="card-body" style="margin: auto; align-content:center">
                        <a href="#" class="card-link btn btn-outline-primary">Ver productos</a>
                    </div>

                </div>

            </div>
            <div class="col mb-4">
                <div class="card h-100">

                    <img src="https://www.pequeocio.com/wp-content/uploads/2018/10/tienda-disfraces-halloween.jpg"
                         class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title text-center">Motores electricos</h5>
                    </div>

                    <div class="card-body" style="margin: auto; align-content:center">
                        <a href="#" class="card-link btn btn-outline-primary">Ver productos</a>
                    </div>

                </div>

            </div>
            <div class="col mb-4">
                <div class="card h-100">

                    <img src="https://www.pequeocio.com/wp-content/uploads/2018/10/tienda-disfraces-halloween.jpg"
                         class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title text-center">Motores electricos</h5>
                    </div>

                    <div class="card-body" style="margin: auto; align-content:center">
                        <a href="#" class="card-link btn btn-outline-primary">Ver productos</a>
                    </div>

                </div>

            </div>

            <p>
                Descripcion de las categorias
            </p>

        </div>
        <div>
            <h3 class="text-center">
                Nuestros productos y servicios
            </h3>
            <div class="row row-cols-1 row-cols-md-3 ">
                <div class="col mb-4">
                    <div class="card h-100">

                        <img src="https://www.pequeocio.com/wp-content/uploads/2018/10/tienda-disfraces-halloween.jpg"
                             class="card-img-top" alt="...">

                        <div class="card-body">
                            <h5 class="card-title text-center">Trajes mexicanos</h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Precio:
                                <b style="color: #1356bb;">$430.45</b>
                            </li>
                        </ul>
                        <div class="card-body" style="margin: auto;">
                            <a href="#" class="card-link btn btn-outline-primary">Ver</a>
                            <a href="#" class="card-link btn btn-outline-primary">Añadir al carrito</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
            
            <!--
        <div class="row justify-content-md-between aling-items-center">
            <div class="col-lg-1-md-3">
                <div class="text-center">
                    <a href="@Url.Action("prodCategoria","Catalogo",new { idCat=1,nombre="motores1"})">
                        <h2>Motores</h2>
                        <img src="~/Content/Imagenes/Transparente.svg" alt="" class="aling-items-center" />
                    </a>
                </div>

            </div>
            <div class="col-lg-1-md-3">
                <div class="text-center">
                    <a href="@Url.Action("prodCategoria","Catalogo",new { idCat=2,nombre="motores2"})">
                        <h2>Motores</h2>
                        <img src="~/Content/Imagenes/Transparente.svg" alt="" class="aling-items-center" />
                    </a>
                </div>

            </div>
        </div>
        -->
            <!-- Nuestros Clientes -->
            <!-- Productos y servicios-->
            <div>
                <h3 class="text-center">
                    Nuestros clientes
                </h3>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a short card.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Nosotros-->
            <div class="card text-center" style="color:#808080">
                <div class="card-body">
                    <h5 class="card-title">Nosotros</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-light">Leer más</a>
                </div>
            </div>


            <article>
            </article>
</section>
