
@{
    ViewBag.Title = "PagoPayPal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int idDir=Convert.ToInt32(Session["idDir"].ToString());
    int idClient = Convert.ToInt32(Session["idClient"].ToString());
}

<h2>Inicie sesion en su cuenta de PayPal</h2>

<div class="container">
    <img src="~/Content/Imagenes/Tarjetas/paypal.png" style="margin:auto"/>
    <form action="/action_page.php" style="margin:auto">
        <div class>

        </div>

    </form>
</div>